:root {
  --white-text-color: #ffffff;
  --red-text-color: #d41443;
  --cream-text-color: #ffa5ba;
  --black-text-color: #000000;
  --grey-text-color: #907e82;
  --bgc-first_section-color: #ffb8ca;
  --bgc-secondary_section-color: #e5e5e5;
  --bgc-products_first-color: #ffb8ca;
  --bgc-products_second-color: #f0d1a5;
  --bgc-products_third-color: #c2e297;
  --bgc_first-btn-color: #ffffff;
  --bgc_second-btn-color: #d41342;
  --bgc-modal-color: #e17992;
  --font-main: Titan One, sans-serif;
  --font-secondary: DM Sans, sans-serif;
  --bgc-contacts_first-color: #f0d1a5;
  --bgc-contacts_second-color: #c2e297;
  --transition-duration: 250ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
