<section class="about">
  <div class="container">
    <div class="about-wrap">
      <p class="about-wrap__pre-text">tradition and love</p>
      <h2 class="about-wrap__title">how it’s made?</h2>
      <div class="about-wrap__flex">
        <img
          class="about-wrap__pic"
          srcset="
            ./images/about/cow_mobile.png    1x,
            ./images/about/cow_mobile-2x.png 2x
          "
          src="./images/about/cow_mobile.png"
          alt="Cow with milk"
        />
      </div>
      <div class="about-wrap__content"> 
        <p class="about-wrap__text">
          We treat the production of our ice cream with great love and excitement, 
          which is why we make it exclusively from natural selected milk. 
        </p>
        <p class="about-wrap__secondary-text"> 
          Our cows give delicious milk. The best conditions have been created for them:
          pastures in the fresh air with juicy grass and healthy feed, 
          care and regular medical examinations.
          Everything is only the best, so that you can later enjoy not only a tasty, 
          but also a healthy product.
        </p>
        <p class="about-wrap__paragraph">
          Click to Read more to find out how the ice cream production process works.
        </p> 
        <button type="button" class="about-wrap__btn" data-modal-open-about>
          Read more
          <img 
            class="about-wrap__btn-icon" 
            src="./images/about/about-btn-icon.svg"  
            alt="btn_icon" 
            width="7"
            height="10"
          />
        </button> 
      </div>
    </div>
  </div>
</section>
