<section class="about">
  <div class="container">
    <div class="about-wrap">
      <p class="about-wrap__pre-text">tradition and love</p>
      <h2 class="about-wrap__title">how it’s made?</h2>
      <div class="about-wrap__flex">
        <img
          class="about-wrap__pic"
          srcset="
            ./images/about/cow_mobile.png    1x,
            ./images/about/cow_mobile-2x.png 2x
          "
          src="./images/about/cow_mobile.png"
          alt="Cow with milk"
        />
      </div>
      <div class="about-wrap__content">
        <p class="about-wrap__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about-wrap__secondary-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about-wrap__paragraph">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="about-wrap__btn">
          Read more
          <img
            class="about-wrap__btn-icon"
            src="./images/about/about-btn-icon.svg"
            alt="btn_icon"
            width="7"
            height="10"
          />
        </button>
      </div>
    </div>
  </div>
</section>
