<section class="advantages">
    <div class="container">
        <h2 class="section__title visually-hidden">Our advantages</h2>
        <ul class="advantages__list card__set">
            <li class="advantages__item advantages__item--milk card__item">
                <p class="advantages__number">721</p>
                <p class="advantages__description">We use around 721 litres of milk every months to make our delicious ice cream!</p>
            </li>
            <li class="advantages__item advantages__item--fruits card__item">
                <p class="advantages__number">16kg</p>
                <p class="advantages__description">This is a daily amount of apples we use to prepare our signature milk shake!</p>
            </li>
            <li class="advantages__item advantages__item--ice card__item">
                <p class="advantages__number">84</p>
                <p class="advantages__description">Around 84 ice creams on a stick are bringing joy to our clients!</p>
            </li>
        </ul>
    </div>
</section>