<section class="reviews container">
    <h2 class="visually-hidden">Customer reviews</h2>
    
        <div class="reviews__slider">
            
            <div class="review__inner">
                
                <img
                class="reviews__img"
                src="./images/reviews/slider-img-1.jpg" 
                alt="Buyer photo"
                >
                <div class="reviews__text-inner">
                    
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, 
                        porttitor risus. Aliquam sem. In hendrerit nulla 
                        quam nunc, accumsan congue. Lorem ipsum primis in 
                        nibh vel risus.
                    </p>
                    <div class="reviews__backg-img"></div> 
                    <p class="reviews__location">Emily, Los Angeles</p>
                </div>
            
            </div>
            
            <div class="review__inner">
                <img
                class="reviews__img"
                src="./images/reviews/slider-img-2.jpg" 
                alt="Buyer photo"
                >
                <div class="reviews__text-inner">
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, 
                        porttitor risus. Aliquam sem. In hendrerit nulla 
                        quam nunc, accumsan congue. Lorem ipsum primis in 
                        nibh vel risus.
                    </p>
                    <div class="reviews__backg-img"></div>
                    <p class="reviews__location">Emily, Los Angeles</p>
                </div>
            </div>

            <div class="review__inner">
                <img
                class="reviews__img"
                src="./images/reviews/slider-img-3.jpg" 
                alt="Buyer photo"
                >
                <div class="reviews__text-inner">
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, 
                        porttitor risus. Aliquam sem. In hendrerit nulla 
                        quam nunc, accumsan congue. Lorem ipsum primis in 
                        nibh vel risus.
                    </p>
                    <div class="reviews__backg-img"></div>
                    <p class="reviews__location">Emily, Los Angeles</p>
                </div>
            </div>

        </div>
    
</section>