<header class="header">
    <div class="container">
        <div class="header__logo"><a href="#">
                <svg width="160" height="40">
                    <use href="./images/header/logo.svg#icon-Group"></use>
                </svg></a>
        </div>
        <button type="button" class="header__menu-button menu-toggle js-open-menu" aria-expanded="false"
            aria-controls="mobile-menu">
            <svg width="20" height="12">
                <use href="./images/header/logo.svg#icon-burger"></use>
            </svg>
        </button>
        <button type="button" class="header__buy-button not-modal">Buy now </button>
        <div class="menu-container js-menu-container" id="mobile-menu">
            <button class="menu-toggle js-close-menu">
                <svg class="icon-menu" width="19" height="19">
                    <use href="./images/header/logo.svg#icon-close_24px"></use>
                </svg>
            </button>
            <button type="button" class="header__buy-button modal">Buy now </button>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item"> <a class="header__nav-link" href="#home"> Home</a></li>
                    <li class="header__nav-item"><a class="header__nav-link" href="#about">About us</a></li>
                    <li class="header__nav-item"><a class="header__nav-link" href="#how_it's_made?">How it’s made?</a>
                    </li>
                    <li class="header__nav-item"><a class="header__nav-link" href="#products">Our products</a></li>
                    <li class="header__nav-item"><a class="header__nav-link" href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>