<div class="hero">
    <div class="hero__container">

        <div class="circle"></div>
        <div class="hero__content">

            <h1 class="hero__title">ice cream made with <span class="hero__title-word">passion</span></h1>
            <ul class="hero__button-list">
                <li class="hero__button-item">
                    <button class="hero__button" type="button">Products</button>
                </li>
                <li class="hero__button-item">
                    <button class="hero__button" type="button">How it’s made?</button>
                </li>
            </ul>


        </div>
        <ul class="hero__content-list">
            <li class="hero__content-item"><span class="hero__content-number">16</span> <span
                    class="hero__content-words">cafes</span></li>
            <li class="hero__content-item"><span class="hero__content-number">23</span><span
                    class="hero__content-words">food trucks</span></li>
        </ul>
        <p class="hero__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor
            incididunt ut labore
            et</p>
        <button class="hero__button-paragraph" type="button"></button>
    </div>
</div>