<!--about- READ MORE мобільне меню-->
<div class="backdrop is-hidden" data-modal-about>
    <div class="modal-read-more">
        <button type="button" class="modal-read-more__close" data-modal-close-about>
            <svg class="modal-read-more__icon" width="18" height="18">
                <use href="./images/modal-windows/header.svg#close-icon"></use>
            </svg>  
        </button> 
        <p class="modal-read-more_description-text"><br>Ice cream production technology consists of several stages: </br>
            <br> 1. preparation of raw materials from which the product will be made later; </br>
            <br> 2. mixing of all necessary components, in accordance with the recipe and state regulations;</br>
            <br> 3. filtering the obtained mass; </br>
            <br> 4. pasteurization (heating) and homogenization (grinding) of the mass; </br>
            <br> 5. cooling; </br>
            <br> 6. mass freezing (saturation of ice cream with air); </br>
            <br> 7. hardening (the process of "freezing" excess moisture);</br>
            <br> 8. packing and packaging of the product;</br>
            <br> 9. storage until the moment of transfer to the point of sale. </br>
            <br>Now you know everything about ice cream. Rather, choose your favorite flavor and enjoy!</br>
        </p> 
    </div>
</div>