<div class="backdrop is-hidden" data-modal>
    <div class="modal-read-more">
        <button type="button" data-modal-close>
            <svg class="modal-read-more__icon" width="18" height="18">
                <use href="./"></use> 
            </svg>
        </button> 
        <p class="modal-read-more_description-text">
            Ice cream production technology consists of several stages:

            1. preparation of raw materials from which the product will be made later;
            2. mixing of all necessary components, in accordance with the recipe and state regulations;
            3. filtering the obtained mass;
            4. pasteurization (heating) and homogenization (grinding) of the mass;
            5. cooling;
            6. mass freezing (saturation of ice cream with air);
            7. hardening (the process of "freezing" excess moisture);
            8. packing and packaging of the product;
            9. storage until the moment of transfer to the point of sale.

            Now you know everything about ice cream. Rather, choose your favorite flavor and enjoy!
        </p>
    </div> 
</div> 