.advantages {
    padding-bottom: 60px;
    background-color: #FFF5F6;
}
.advantages__number {
    font-family: 'Titan One';
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--red-text-color);
    height: 56px;
    margin-bottom: 4px;
    text-align: start;
}
.advantages__description {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    color: var(--black-text-color);
    text-align: start;
    max-width: 230px;
}
.advantages__description:not(:last-child) {
    margin-bottom: 32px;
}
.advantages__item::before {
    content: '';
    margin-bottom: 16px;
}


.advantages__item-milk::before {
    content: '';
    display: block;
    background-image: url(../images/advantages/adv-1.png);
    width: 33px;
    height: 55px;
}
.advantages__item-fruits::before {
    content: '';
    display: block;
    background-image: url(../images/advantages/adv-2.png);
    width: 50px;
    height: 50px;
    margin-top: 32px;
}
.advantages__item-ice::before {
    content: '';
    display: block;
    background-image: url(../images/advantages/adv-3.png);
    width: 46px;
    height: 50px;
    margin-top: 32px;
}