
.button[type='button'] {
    display: inline-flex;
}
.header__menu-button {
    margin-left: auto;
}

.header__buy-button {
    display: block;
    background-image: url('../images/hero/arrow.svg');
    background-repeat: no-repeat;
    background-position: right 19px bottom 14px;
    font-family: 'DM Sans', 'Sans-serif';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(21/16);
    align-items: center;
    text-align: center;
    color: var(--red-text-color);
    // min-width: 160px;
    min-height: 44px;
    border-radius: 22px;
    color: var(--red-text-color);
    border-color: transparent;
    background-color: var(--white-text-color);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));

    @include mq(mobile-only) {
    min-width: 209px;
    margin-bottom: 19px;
    }
    @media screen and (min-width: 769px) {
        
    display: block;
    width: 160px;
    height: 44px;
    margin-right: 32px;
}
    @include mq(desktop) {
        order: 1;
    }
}

.hero__button-paragraph {
    display: none;
}


@include mq(not-desktop) {
.hero__button-list {
    display: flex;
}
.hero__button-item:not(:last-child) {
    margin-right: 8px;
}
.hero__button {
background-color: var(--white-text-color);
color: var(--red-text-color);
min-width: 62px;
max-width: 82px;
min-height: 24px;
margin-top: 20px;
border: transparent;
border-radius: 22px;
font-family: 'DM Sans', 'Sans-serif';
font-weight: 400;
font-size: 8px;
line-height: calc(10 / 8);
padding: 5px;
}
}


@include mq(tablet) {

.hero__button-paragraph {
    display: block;
    background-image: url('../images/hero/arrow-right.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--white-text-color);
    position: absolute;
    left: 184px;
    bottom: 56px;
    border-radius: 100%;
    border-color: transparent;
    width: 18px;
    height: 18px;
}
}
@include mq(desktop) {

}

