

.header .not-modal{
@include mq(mobile-only) {
    display: none;
}
@include mq(tablet) {
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 32px;
    min-width: 160px;
    padding: 0px;
}
@include mq(desktop) {
    order: 1;
    min-width: 159px;
    margin-left: 0px;
}
}
.header .modal {
margin-left: auto;
margin-right: auto;
}


.header__buy-button {
    display: block;
    background-image: url('../images/hero/arrow.svg');
    background-repeat: no-repeat;
    background-position: right 19px bottom 14px;
    font-family: 'DM Sans', 'Sans-serif';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(21/16);
    align-items: center;
    text-align: center;
    color: var(--red-text-color);
    min-height: 44px;
    border-radius: 22px;
    color: var(--red-text-color);
    border-color: transparent;
    background-color: var(--white-text-color);
    @include mq(mobile-only) {
    min-width: 209px;
    margin-bottom: 19px;
    }
    @include mq (tablet-only) {
    min-width: 184px;
    margin-bottom: 20px;
    }
}
@include mq(desktop) {
.header .modal, .hero__button-paragraph {
    display: none;
}
}
.hero__button-link {
    color: var(--red-text-color);
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.hero__button-list {
    display: flex;
}
.hero__button-item:not(:last-child) {
    margin-right: 8px;
    @include mq(desktop) {
    margin-right: 12px;
    }
}

.hero__button {
background-color: var(--white-text-color);
color: var(--red-text-color);
min-width: 62px;
max-width: 82px;
min-height: 24px;
border: transparent;
border-radius: 22px;
font-family: 'DM Sans', 'Sans-serif';
font-weight: 400;
transition-property: background-color,;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 250ms;
&:focus, &:hover {
    background-color: var(--red-text-color);
}
&:focus, &:hover .hero__button-link {
    color: var(--white-text-color);
}
@include mq(not-desktop) {
font-size: 8px;
line-height: calc(10 / 8);
padding: 5px, 10px;
}
@include mq(desktop) {
    min-width: 107px;
    max-width: 138px;
    min-height: 30px;
    font-size: 14px;
    line-height: calc(18 / 14);
    padding: 10px;
}
}


@include mq(tablet) {
.hero__button-paragraph {
    display: block;
    background-image: url('../images/hero/arrow-right.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--white-text-color);
    // position: absolute;
    left: 184px;
    bottom: 56px;
    border-radius: 100%;
    border-color: transparent;
    width: 18px;
    height: 18px;
    @include mq(desktop) {
        width: 26px;
        height: 26px;
        left: 229px;
        bottom: 180px;
    }
    }
    }
.hero__button-paragraph {
@include mq(mobile-only) {
display: none;
}
}
        


