.header .container {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    @include mq(tablet-only) {
        margin-top: 32px;
        z-index: 2;
    }
}
.header {
    &__logo {
        // padding-top: 8px;
    }
}
.header__nav {
    width: 100%;
}
    .header__nav-item {
    display: inline-flex;
    margin: 0px;
    font-family: 'DM Sans', 'Sans serif';
    font-weight: 700;
    font-size: 14px;
    line-height: calc(18 / 14);
    align-items: center;
}
.header__nav-link {
    color: var(--white-text-color);
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-flex;
}
.current {
    color: #D41443;
}
@include mq(not-desktop) {
.header__nav-list {
                display: flex;
                flex-direction: column;
        }
        .header__nav-item {
            border: 1px solid #E18298;
            width: 100%;
            height: 42px;
            padding-left: 20px;

            font-style: 'DM Sans', 'Sans-serif';
            font-weight: 700;
            font-size: 14px;
            line-height:calc(18/14) ;
            align-items: center;
        }
        .header__nav-item:not(:first-child)
        {
            border-top: none;
        }
        }

@include mq(tablet-only) {
    .header {
    &__container {
    padding-top: 32px;
    display: flex;
    // align-items: center;
}
}
}



@include mq(desk) {
.header {
        width: 1280px;
&__container {
    padding-top: 37px;
    max-width: 1200px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
&__nav-list {
    display: inline-flex;
    font-size: 16px;
    // margin-left: 128px;
    margin-left: auto;
} 
&__nav-item {
    margin-right: 35px;
    color: white;
}
&__buy-button {
    display: block;
    margin-left: auto;
}
&__menu-button {
    display: none;
}
}
.menu-container {
display: block;
}
}
