

    .hero {
        position: relative;
&__container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 502px;
    background-color: #ffb8ca;
        background-image:  url('../images/hero/icecrem.svg'), url('../images/hero/ellipse-tablet.svg');
<<<<<<< Updated upstream
        // background-position: bottom left 117px, top 83px left 36px;
        background-position: top 92px left 117px, top 83px  left 36px;
=======
        background-position: center bottom, center 83px;
>>>>>>> Stashed changes
        background-repeat: no-repeat;
        animation: bgm 1000ms linear 1 forwards;
        @keyframes bgm {
            0% {
background-image:  url('../images/hero/icecrem.svg'), url('../images/hero/ellipse-tablet.svg');
        background-position: top 292px left 117px, top -153px  left 36px;
            }
            25% {
background-image:  url('../images/hero/icecrem.svg'), url('../images/hero/ellipse-tablet.svg');
        background-position: top 252px left 117px, top -103px  left 36px;
            }
            50% {
background-image:  url('../images/hero/icecrem.svg'), url('../images/hero/ellipse-tablet.svg');
        background-position: top 202px left 117px, top -53px  left 36px;
            }
            75% {
background-image:  url('../images/hero/icecrem.svg'), url('../images/hero/ellipse-tablet.svg');
        background-position: top 152px left 117px, top 23px  left 36px;
            }
            100% {
background-image:  url('../images/hero/icecrem.svg'), url('../images/hero/ellipse-tablet.svg');
        background-position: top 92px left 117px, top 83px  left 36px;
            }
        }

    @include mq(tablet-only) {
    position: relative;
    
    height: 416px;
    background-color: #ffb8ca;
    background-image: url('../images/hero/ice-cream-tablet.svg'), url('../images/hero/slider-pic-tablet.svg'), 
    url('../images/hero/slider-pic-tablet1.svg'), url('../images/hero/ellipse-tablet.svg');
    background-repeat: no-repeat;
    background-position: bottom left -300px, bottom 16px left 32px, bottom 1px right 32px, left 248px bottom 40px;
    animation: bgt 2000ms linear 1 forwards;
    @keyframes bgt {
    0% {
        background-image: url('../images/hero/ice-cream-tablet.svg'), url('../images/hero/slider-pic-tablet.svg'), 
    url('../images/hero/slider-pic-tablet1.svg'), url('../images/hero/ellipse-tablet.svg');
    background-position: bottom left -170px, bottom 400px left 32px, bottom 1px right -800px, left 248px bottom -440px;
    }
    25% {
        background-image: url('../images/hero/ice-cream-tablet.svg'), url('../images/hero/slider-pic-tablet.svg'), 
    url('../images/hero/slider-pic-tablet1.svg'), url('../images/hero/ellipse-tablet.svg');
    background-position: bottom left 20px, bottom 300px left 32px, bottom 1px right -500px, left 248px bottom -340px;
    }
    50% {
        background-image: url('../images/hero/ice-cream-tablet.svg'), url('../images/hero/slider-pic-tablet.svg'), 
    url('../images/hero/slider-pic-tablet1.svg'), url('../images/hero/ellipse-tablet.svg');
    background-position: bottom left 120px, bottom 200px left 32px, bottom 1px right -300px, left 248px bottom -240px;
    }
        75% {
        background-image: url('../images/hero/ice-cream-tablet.svg'), url('../images/hero/slider-pic-tablet.svg'), 
    url('../images/hero/slider-pic-tablet1.svg'), url('../images/hero/ellipse-tablet.svg');
    background-position: bottom left 220px, bottom 100px left 32px, bottom 1px right -100px, left 248px bottom -140px;
    }
    100% {
        background-image: url('../images/hero/ice-cream-tablet.svg'), url('../images/hero/slider-pic-tablet.svg'), 
    url('../images/hero/slider-pic-tablet1.svg'), url('../images/hero/ellipse-tablet.svg');
    background-position: bottom left 322px, bottom 16px left 32px, bottom 1px right 32px, left 248px bottom 40px;
    }
}
    }

    @include mq(desktop) {
    
    height: 664px;
    background-color: #ffb8ca;
    background-image: url('../images/hero/ice-cream-desktop.svg'), url('../images/hero/slider-desktop.svg'), 
    url('../images/hero/slider-1-desktop.svg'), url('../images/hero/ellipse-desktop.svg');
    background-repeat: no-repeat;
    background-position: right 328px bottom 0px, bottom 60px left 16px, bottom 1px right 16px, right 149px bottom 76px;
    animation: bgd 2000ms linear 1 forwards;
    @keyframes bgd {
    0% {
        background-image: url('../images/hero/ice-cream-desktop.svg'), url('../images/hero/slider-desktop.svg'), 
    url('../images/hero/slider-1-desktop.svg'), url('../images/hero/ellipse-desktop.svg');
    background-position: right 328px bottom 600px, bottom 60px left 1600px, bottom -400px right 16px, right 1490px bottom 76px;
    }
    25% {
        background-image: url('../images/hero/ice-cream-desktop.svg'), url('../images/hero/slider-desktop.svg'), 
    url('../images/hero/slider-1-desktop.svg'), url('../images/hero/ellipse-desktop.svg');
    background-position: right 328px bottom 400px, bottom 60px left 1000px, bottom -300px right 16px, right 900px bottom 76px;
    }
    50% {
        background-image: url('../images/hero/ice-cream-desktop.svg'), url('../images/hero/slider-desktop.svg'), 
    url('../images/hero/slider-1-desktop.svg'), url('../images/hero/ellipse-desktop.svg');
    background-position: right 328px bottom 300px, bottom 60px left 600px, bottom -200px right 16px, right 600px bottom 76px;
    }
    75% {
        background-image: url('../images/hero/ice-cream-desktop.svg'), url('../images/hero/slider-desktop.svg'), 
    url('../images/hero/slider-1-desktop.svg'), url('../images/hero/ellipse-desktop.svg');
    background-position: right 328px bottom 100px, bottom 60px left 300px, bottom -100px right 16px, right 300px bottom 76px;
    }
    100% {
        background-image: url('../images/hero/ice-cream-desktop.svg'), url('../images/hero/slider-desktop.svg'), 
    url('../images/hero/slider-1-desktop.svg'), url('../images/hero/ellipse-desktop.svg');
    background-position: right 328px bottom 0px, bottom 60px left 16px, bottom 1px right 16px, right 149px bottom 76px;
    }
}
    
    }
}














&__title {
        width: 216px;
        height: 106px;
        color: var(--white-text-color);
        font-family: 'Titan One', 'Sans serif';
        font-weight: 400;
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include mq(tablet-only) {
        width: 162px;
        height: 80px;
        font-size: 22px;
        line-height:calc(25 / 22);
        }
        @include mq(desktop) {
        width: 277px;
        height: 137px;
        font-size: 38px;
        line-height:calc(44 / 38);
        margin-bottom: 24px;
        }
        }
}
.hero__title-word {
        color: var(--red-text-color);
        font-weight: 400;
        font-size: 48px;
        line-height: 1.04;
        text-transform: uppercase;

@include mq(tablet-only) {
        font-size: 34px;
        line-height:calc(31 / 34 );
}
@include mq(desktop) {
        font-size: 58px;
        line-height:calc(58 / 52 );
}
}
.hero {
&__content {
    padding-top: 194px;
    padding-bottom: 158px;
    margin-left: 20px;
@include mq(tablet-only) {
    padding-top: 102px;
    padding-bottom: 190px;
    // margin-left: 32px;
}
@include mq(desktop) {
padding-top: 147px;
// padding-left: 16px;
margin-left: 16px;
}
}
&__content-list {
    @include mq(mobile-only) {
    display: none;
    }
@include mq(tablet-only) {
    position: absolute;
    right: 32px;
    top: 94px;
}
@include mq(desktop) {
    position: absolute;
    right: 16px;
    top: 152px;
}
}
&__paragraph {
    color: white;
    font-family: 'DM Sans', 'Sans-serif';
    font-weight: 400;
@include mq(mobile-only) {
    display: none;
}
@include mq(tablet-only) {
    max-width: 115px;
    font-size: 8px;
    line-height: 1.5;
    left: 184px;
    bottom: 81px;
    margin-bottom: 7px;
}
@include mq(desktop) {
    max-width: 200px;
    font-size: 14px;
    font-size: 14px;
    line-height: 1.4;
    left: 229px;
    margin-bottom: 20px;
    // bottom: 230px;
}
}
}

.hero__button-paragraph:hover, 
.hero__button-paragraph:focus {
    cursor: pointer;
    fill: #fff;
}


.hero {
&__content-item {
background-repeat: no-repeat;
background-position: right top;
display: flex;
flex-direction: column;
@include mq(tablet) {
background-image: url('../images/hero/ellipse-white.svg');
&:first-child {
margin-bottom: 17px;
}
}
@include mq(desktop) {
background-image: url('../images/hero/ellipse-white-desktop.svg');
&:first-child {
margin-bottom: 35px;
}
}
}
&__content-number {
color: var(--red-text-color);
font-family: 'Titan One', 'Sans-serif';
font-weight: 400;
letter-spacing: 0.04em;
text-transform: uppercase;
text-align: left;
@include mq(tablet-only) {
font-size: 28px;
line-height: calc(32 / 28);
}
@include mq(desktop) {
font-size: 46px;
line-height: calc(53 / 46);
}
}
&__content-words {
color: var(--white-text-color);
font-family: 'DM Sans', 'Sans-serif';
font-weight: 400;
text-align: center;
@include mq(tablet-only) {
font-size: 8px;
line-height: 1.25;
}
@include mq(desktop) {
font-size: 14px;
line-height: 1.28;
}
}
}



.hero__block {
position: absolute; 
@include mq(tablet) {
left: 184px;
bottom: 56px;
}
@include mq(desktop) {
left: 229px;
bottom: 84px;
}
}

.video {
    width: 480px;
    height: 320px;
    display: flex;
    
  }